{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1 class = "titulo_index">seja seu compromisso</h1>
    <p>cadastre sua frase coach</p>
    <p><a class= "inspiracao" href="coaches/listar">veja os otario que já tão aqui</a></p>
       <p>{{sucesso}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">nome:</label>
        <input name="nome" type="text" required>

        <label for="">frase inspiradora:</label>
        <input name="frase" id="" cols="30" rows="10" required>

        <label for="">pessoa que motivou:</label>
        <input name="inspirador" type="text">

        <input type="submit" value="envia ai meu parcero">
    </form>

{% endblock %}